/* Manage groups page */
#buse-group-table {
	width: 50%;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 25px 0;
	border: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#buse-group-table thead {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

#buse-group-table tbody {

}

#buse-group-table th {
	margin: 0;
	padding: 3px 10px;;
	text-align: left;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}

#buse-group-table tr {
	margin: 0;
}

#buse-group-table td {
	margin: 0;
	border-top: 1px solid #eee;
	padding: 5px 10px;
}

#buse-group-table tr:first-child td {
	border-top: none;
}

#buse-group-table .submitdelete img {
	vertical-align: bottom;
}

/* Group editor containers */
#section-group-editor {
	position:relative;
}

#section-group-editor .form-wrap {
	height: 100%;
}

#section-group-editor h3.nav-tab-wrapper {
	margin-bottom: 0;
}

#panel-container {
	width: 100%;
	min-width: 750px;
	height: auto;
}

#stats-container {
	width: 40%;
	padding-top: 2em;
	padding-left: 25px;
	float: left;
}

.edit-group-panel {
	float: left;
	min-height: 400px;
	width: 50%;
	padding-top: 2em;
	padding-right: 25px;
	border-right: 1px solid #CCC;
}

/* Panel containers */

#section-group-editor {
}

#section-group-members {
}

#section-group-permissions {
}

/* Name panel */
#section-group-editor #group-name-panel fieldset {
	border:none;
	background:none;
	margin-top:25px;
}

#group-name-panel label {
	display: inline;
	font-weight: bold;
}

/* Members panel */
#group-member-list {

}

#add-group-members-header {
	background-image: url('../images/user_add.png');
	background-repeat: no-repeat;
	background-position: 0;
	padding-left: 25px;
}

#edit-group-members-header {
	background-image: url('../images/group_members.png');
	background-repeat: no-repeat;
	background-position: 0;
	padding-left: 25px;
}

#group-member-list li {
	background-color: #fff;
	padding: 10px;
	border-top:1px solid #eee;
}

#group-member-list li:first-child {
	border-top: none;
}

#group-member-list label {
	display:inline;    
}

#group-member-list li a {
	float:right;    
}

#inactive-members {
	display: none;
}

/* Permissions Panel / jsTree */

#group-permission-editor {
	width: 100%;
}

#perm-tab-container {
	margin-bottom: 0;
}

#perm-panel-container {
	padding: 10px;
	border: 3px solid #A9AAA9;
	margin: 0 5px 5px 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: scroll;
	height: 450px;
	clear: both;
}

#perm-tab-container .nav-tab {
	color: #777;
	font-weight: bold;
	text-shadow: none;
	padding: 4px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	margin-right: 3px;
	border: 1px solid #bbb;
	margin-left:1px;
}

#perm-tab-container .nav-tab.inline {
	float: left;
}

#perm-tab-container .nav-tab-active {
	background-color: #A9AAA9;
	color: #fff;
	border: none;
	padding: 5px 10px;
	margin-left: 1px;
}

.perm-panel {
	padding: 12px 0;	
}

.perm-panel.active {

}

.perm-editor-hierarchical.jstree-default.jstree-focused {
	background: none;
}

.perm-editor-hierarchical.jstree li {
	position: relative;
}

.perm-editor-hierarchical.jstree a > ins {
	height: 18px;
	width: 20px;
}

.perm-editor-hierarchical li a.jstree-clicked{
	background: #ffff00;
	border: none;
}

.perm-editor-hierarchical .edit-node:before {
        position: absolute;
        left: -10px;
        top: 50%;
        margin-top: -6px;
	content: url('../images/left-arrow.png');
	width: 10px;
}

.perm-editor-hierarchical .edit-node {
	background-color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	margin-left: 20px;
	margin-top: -20px;
	padding: 10px;
	position: absolute;
	display: inline-block !important;
	text-align: center;
	z-index: 10;
}

.perm-editor-hierarchical .edit-node a {
	display: block;
	float: left;
	color: white;
	background-color: #4790b4;
	background-image: -webkit-linear-gradient(top,#6699CC,#1C729E);
	background-image: linear-gradient(top,#6699CC,#1C729E);
	padding: 10px 8px;
	border-radius: 3px;

}

.perm-editor-hierarchical .edit-node a.denied:before,
.perm-editor-hierarchical .edit-node a.denied-desc-allowed:before {
	content: url('../images/group_perm_allowed.png');
	display: block;
	float: left;
	padding-right: 3px;

}

.perm-editor-hierarchical .edit-node a.allowed:before {
	content: url('../images/group_perm_denied.png');
	display: block;
	float: left;
	padding-right: 3px;
}


/* Stats widget */

#group-stats-widget .buse-widget-body {
	padding: 0;
}

#group-stats-widget ul {
	margin: 0;
}

#group-stats-widget li {
	padding: 7px 10px;
	border-top: 1px solid #D3D3D3;
}

#group-stats-widget li:first-child {
	border-top:none;
}

#group-stats-widget span.title {
	font-weight: bold;
}

#group-stats-widget span[id*="count"],
#group-stats-widget span[class*="count"] {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: bold;
	font-size: 18px;
}

#group-stats-widget .actions {
	background-color: #ebf2fb;
	padding: 10px;
}

#group-stats-widget #delete-action {
	float: left;
}

#group-stats-widget #update-action {
	float: right;
}

#group-stats-widget a.submitdelete {
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 6px 0 0 4px;
	padding: 1px 2px;
	text-decoration: none;
	color: #F00;
}

#group-stats-widget a.submitdelete:hover {
	background-color: #F00;
	color: #FFF;
}

/* Widgets */

.buse-widget {

}

.buse-widget-header {
	padding: 7px;
	border: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

.buse-widget-header h4 {
	margin: 0;
	color: #464646;
	font-weight: bold;
}


.buse-widget-body{
	background-color: white;
	margin-bottom: 25px;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-top: none;
}

/* Member counts */

#member-list-count {
	float: right;
	font-weight: normal;
}

/* States */
.js .edit-group-panel { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.edit-group-panel.active { 
	position: static; 
	float: left;
}

.js .perm-panel { 
	position: absolute;
	top: -9999px;
	left:-9999px;
}

.perm-panel.active { 
	position: static; 
}

/* Form elements */

#section-group-editor .form-row {
	margin-bottom: 10px;
}

#section-group-editor label {
	margin-bottom: 0.5em;
}

#section-group-editor input#user_login {
	width: 85%;
}

#members-message {
	display: none;
}

#members-message p {
	font-style: normal;
}

/* Clearing */
#panel-container:after,
#group-stats-widget .actions:after,
#perm-tab-container:after {
	display: block;
	clear: both;
	content: " ";
	height: 0;
	overflow: hidden;
}

/* Con javascript */

body.js input[type="checkbox"] {
	display: none;
}

body.no-js .nav-tab-wrapper {

}

body.no-js #add-group-members {
	display:none;
}

body.no-js .remove_member {
	display:none;
}