/* Manage groups page */
#buse-group-table {
	width: 50%;
	border-spacing: 0;
	margin: 25px 0;
	border: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#buse-group-table thead {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

#buse-group-table tbody {
		
}

#buse-group-table th {
	margin: 0;
	padding: 3px 10px;;
	text-align: left;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}

#buse-group-table tr {
}

#buse-group-table td {
	border-top: 1px solid #eee;
	padding: 5px 10px;
}

#buse-group-table tr:first-child td {
	border-top: none;
}

#buse-group-table .submitdelete img {
	vertical-align: bottom;
}

/* Group editor containers */
#section-group-editor {
	position:relative;
}

#panel-container { 
	position:absolute;
	width: 450px;
	height: auto;
	padding-right:35px;
	border-right: 1px solid #CCC;
}

#stats-container {
	position:absolute;
	left:500px;
	width: 350px;
	margin-left:20px;
}

/* Panel containers */

#section-group-editor {
}

#section-group-members {
}

#section-group-permissions {
}

/* Name panel */
#section-group-editor #group-name-panel fieldset {
	border:none;
	background:none;
	margin-top:25px;
}

#group-name-panel label {
	display: inline;
	font-weight: bold;
}

/* Members panel */
#group-member-list {
	margin-top:0;
	width:100%;
	margin-left:-7px;
}

#group-member-list li {
	background-color: #fff;
	padding: 7px;
	border-top:1px solid #eee;
	width:100%;
}

#group-member-list li:first-child {
	border-top: none;
}

#group-member-list label {
	display:inline;    
}

#group-member-list li a {
	float:right;    
}

#inactive-members {
	display: none;
}

/* Permissions Panel / jsTree */

.perm-editor-hierarchical.jstree-default.jstree-focused {
	background: none;
}

/* Stats widget */

#group-stats-widget {
	background-color: #fff;
	border: 1px solid #D3D3D3;
	border-top: none;
}

#group-stats-widget ul {
	margin: 0;
}

#group-stats-widget li {
	padding: 7px 10px;
	border-top: 1px solid #D3D3D3;
}

#group-stats-widget li:first-child {
	border-top:none;
}

#group-stats-widget span.title {
	font-weight: bold;
}

#group-stats-widget .actions {
	background-color: #ebf2fb;
	clear: both;
	padding: 10px;
}

#group-stats-widget a.submitdelete {
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 6px 0 0 4px;
	padding: 1px 2px;
	text-decoration: none;
	color: #F00;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#group-stats-widget a.submitdelete:hover {
	background-color: #F00;
	color: #FFF;
}

/* Headings */

#section-group-editor h4 {
	padding: 7px;
	margin-bottom:0;
	color: #464646;
	font-weight:bold;
	border: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

#section-group-editor h4 .member-count {
	float:right;
}

/* States */

.js .edit-group-panel { 
	position: absolute;
	top: -9999px;
	left:-9999px;
}

.edit-group-panel.active { 
	position: static; 
}

/* Form elements */

#section-group-editor fieldset {
	background-color: white;
	margin-bottom: 25px;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-top: none;
}

#section-group-editor .form-row {
	margin-bottom: 10px;
}

#members-message {
		display: none;
}

#members-message p {
	font-style: normal;
}

/* Clearing */
#group-stats-widget .actions:after {
	display: block;
	clear: both;
	content: " ";
	height: 0;
	overflow: hidden;
}

/* Con javascript */

body.js input[type="checkbox"] {
	display: none;
}

body.no-js .nav-tab-wrapper {

}

body.no-js #add-group-members {
	display:none;
}

body.no-js .remove_member {
	display:none;
}