/* Group editor containers */

#section-group-editor {
}

#section-group-editor h3.nav-tab-wrapper {
	margin-bottom: 0;
}

#stats-container {
	position: relative;
	width: 350px;
	padding-top: 2em;
	padding-left: 25px;
	float: right;
	clear: right;
	z-index: 20;
}

#panel-container {
	width: 100%;
	height: auto;
	float: left;
	clear: left;
	margin-right: -375px;
	position: relative;
}

.group-panel {
	min-height: 400px;
	padding-top: 2em;
	margin-right: 375px;
}

/* Members panel */

#add-group-members-header {
	background-image: url('../images/user_add.png');
	background-repeat: no-repeat;
	background-position: 0;
	padding-left: 25px;
}

#edit-group-members-header {
	background-image: url('../images/group_members.png');
	background-repeat: no-repeat;
	background-position: 0;
	padding-left: 25px;
}

#group-member-list li {
	background-color: #fff;
	padding: 10px;
	border-top:1px solid #eee;
}

#group-member-list li:first-child {
	border-top: none;
}

#group-member-list label {
	display:inline;
}

#group-member-list li a {
	float:right;
}

#inactive-members {
	display: none;
}

/* Permissions Panel / jsTree */

#group-permission-editor {
	width: 100%;
}

#perm-tab-container {
	margin-bottom: 0;
}

#perm-tab-container .nav-tab {
	color: #21759B;
	text-shadow: none;
	padding: 4px 10px;
	margin-right: 3px;
	border: none;
	margin-left:1px;
}

#perm-tab-container .nav-tab.inline {
	float: left;
}

#perm-tab-container .nav-tab-active {
	font-weight: bold;
	margin-bottom:-2px;
	border: 1px solid #D3D3D3;
	border-bottom: none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #ECECEC;
}

#perm-tab-container .nav-tab-active {
	color: #464646;
}

#perm-panel-container {
	border: 1px solid #D3D3D3;
	background-color: white;
	margin: 0 5px 5px 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	clear: both;
}

.perm-toolbar {
	min-height: 20px;
	padding: 17px 15px 14px 15px;
	background-color: #ECECEC;
	background-image: -ms-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -moz-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -o-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ECECEC),to(#DFDFDF));
	background-image: -webkit-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: linear-gradient(top,#ECECEC,#DFDFDF);
}

.perm-toolbar.top {
	border-bottom: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.perm-toolbar.bottom {
	border-top: 1px solid #D3D3D3;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding: 0 6px;
}

.perm-toolbar input[type="text"] {
	border-color: #999999;
}

.perm-toolbar p {
	font-style: normal;
}

.perm-toolbar .tablenav-pages a {
	border-color: #AAA;
}

#perm-panel-container .perm-scroll-area {
	overflow-x: auto;
}

.perm-editor.hierarchical {
	margin: 15px;
}

.perm-editor.jstree-default.jstree-focused {
	background: none;
}

.perm-editor.jstree li {
}

.perm-editor.jstree a {
	height: 18px;
}

.perm-editor.jstree a > ins {
	height: 20px;
	width: 21px;
}

.perm-editor.jstree-classic a.jstree-clicked {
	background-color: #555;
	border-color: #555;
}

/* Override default throbber while loading descendents */

.perm-editor li[rel="denied-desc-unknown"] a.jstree-loading .jstree-icon {
	background: url('../images/group_perms_sprite.png') no-repeat -100px 0;
}

.perm-editor li[rel="allowed-desc-unknown"] a.jstree-loading .jstree-icon {
	background: url('../images/group_perms_sprite.png') no-repeat -120px 0;
}

.perm-editor.flat.loading {
	padding: 10px 15px;
}

.perm-editor.flat .loader {
	padding: none;
	background: url('../images/loading.gif') no-repeat -9999px -9999px;
}

.perm-editor.flat.loading .loader {
	display: block;
	background: url('../images/loading.gif') no-repeat 0 0;
	text-indent: -9999px;
}

/* Flat Permissions */

.perm-editor.flat a {
	color: inherit;
	text-decoration: none;
}

.perm-editor.flat a:hover,
.perm-editor.flat a:focus {
	outline: none;
}

.perm-editor.flat li .flat-perm-icon {
	display: block;
	float: left;
	padding-right: 8px;
	width: 15px;
	height: 15px;
}

.perm-editor.flat li[rel="allowed"] .flat-perm-icon {
	background: url('../images/group_perms_sprite.png') no-repeat -40px 0;
}

.perm-editor.flat li[rel="denied"] .flat-perm-icon {
	background: url('../images/group_perms_sprite.png') no-repeat -60px 0;
}

.perm-list {
	padding: 0;
	margin: 0;
}

.perm-list.flat li {
	display: block;
	padding: 10px 15px;
	border-top: 1px solid #dfdfdf;
	margin: 0;
}

.perm-list.flat li:first-child {
	border-top: none;
}

#perm-panel-container .perm-list input[type="checkbox"] {
	margin-right: 10px;
}

/* Bulk Edit */
.perm-panel.bulk-edit .perm-editor-bulk-edit {
	display: none;
}

.perm-panel.bulk-edit input[type="checkbox"] {
	display: inline;
	vertical-align: middle;
}

.perm-panel.bulk-edit li input[type="checkbox"] {
	float: left;
	margin-top: 2px;
}

.perm-editor-bulk-edit-panel {
	display: none;
}

.perm-panel.bulk-edit .perm-editor-bulk-edit-panel {
	display: block;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px 15px;
	background-color: #ECECEC;
	line-height: 2em;
	background-image: -ms-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -moz-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -o-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ECECEC),to(#DFDFDF));
	background-image: -webkit-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: linear-gradient(top,#ECECEC,#DFDFDF);
}

.perm-editor-bulk-edit-panel input[type="checkbox"] {
	margin-right: 10px;
}

.bulk-edit-actions {
	float: left;
}

.bulk-edit-actions select {
	width: 150px;
}

.bulk-edit-close {
	float: right;
	display: block;
	color: inherit;
	text-decoration: none;
	font-style: normal;
	padding-left: 20px;
	background: url('../images/close_icons.png') no-repeat 0px 0px;
	line-height: 16px;
}

.bulk-edit-close:hover {
	background: url('../images/close_icons.png') no-repeat 0 -24px;
}

/* Overlay */

.buse-overlay:before {
	position: absolute;
	left: -10px;
	top: 50%;
	margin-top: -6px;
	content: url('../images/left-arrow.png');
	width: 10px;
}

.buse-overlay {
	background-color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	margin-left: 20px;
	margin-top: -20px;
	padding: 10px;
	position: absolute;
	display: inline-block;
	text-align: center;
	z-index: 10;
}

.buse-overlay .buse-icon {
	display: block;
	float: left;
	text-decoration: none;
}

.buse-overlay.allowed .buse-icon {
	background: url('../images/group_perms_sprite.png') no-repeat -60px 0;
	width: 18px;
	height: 20px;
	margin: 1px 5px 0 0;
}

.buse-overlay.denied .buse-icon {
	background: url('../images/group_perms_sprite.png') no-repeat -40px 0;
	width: 18px;
	height: 20px;
	margin: 1px 5px 0 0;
}

.buse-overlay.inactive {
	display: none;
}

.buse-action {
	display: block;
	float: left;
	color: white;
	background-color: #4790b4;
	background-image: -webkit-linear-gradient(top,#6699CC,#1C729E);
	background-image: linear-gradient(top,#6699CC,#1C729E);
	padding: 10px 8px;
	border-radius: 3px;
	text-decoration: none;
	width: 108px;
}

.buse-action:hover {
	color: white;
}

/* Stats widget */

#group-stats-widget .buse-widget-body {
	padding: 0;
}

#group-stats-widget ul {
	margin: 0;
}

#group-stats-widget li {
	padding: 10px;
	margin: 0;
	border-top: 1px solid #D3D3D3;
}

#group-stats-widget li:first-child {
	border-top:none;
}

#group-stats-widget span.title {
	font-weight: bold;
}

#group-stats-widget span[id*="count"],
#group-stats-widget span[class*="count"] {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: bold;
	font-size: 18px;
}

#group-stats-widget a.submitdelete:hover {
	background-color: #F00;
	color: #FFF;
}

#group-stats-permissions {
	display: block;
	margin-top: -2px;
	float: right;
	width: 55%;
}

#group-stats-permissions .perm-stats {
	display: block;
	margin-bottom: 2px;
}

.perm-stats-diff .allowed {
	color: #0CA02A;
}

.perm-stats-diff .denied {
	color: #E24740;
}

#group-stats-widget .actions {
	background-color: #ebf2fb;
	padding: 10px;
}

#group-stats-widget #delete-action {
	float: left;
}

#group-stats-widget #update-action {
	float: right;
}

#group-stats-widget a.submitdelete {
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 6px 0 0 4px;
	padding: 1px 2px;
	text-decoration: none;
	color: #F00;
}

/* Widgets */

.buse-widget-header {
	padding: 7px;
	border: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #ECECEC;
	background-image: -ms-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -moz-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -o-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ECECEC),to(#DFDFDF));
	background-image: -webkit-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: linear-gradient(top,#ECECEC,#DFDFDF);
}

.buse-widget-header h4 {
	margin: 0;
	color: #464646;
	font-weight: bold;
}

.buse-widget-body{
	background-color: white;
	margin-bottom: 25px;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-top: none;
}

/* Groups table */

#section-groups td {
	padding: 10px 7px;
}

/* Member counts */

#member-list-count {
	float: right;
	font-weight: normal;
}

/* Panel show/hide states */

.js .group-panel {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.group-panel.active {
	position: static;
}

.js .perm-panel {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.perm-panel.active {
	position: relative;
	top: auto;
	left: auto;
}

/* Form elements */

#section-group-editor .form-row {
	margin-bottom: 10px;
}

#section-group-editor label {
	margin-bottom: 0.5em;
}

#section-group-editor label.inline {
	display: inline;
}

#section-group-editor label.topaligned {
	display: block;
}

#section-group-editor label.leftaligned {
	float: left;
	width: 100px;
	padding-right: 10px;
	text-align: left;
}

#section-group-editor input.with-button {
	width: 80%;
}

#members-message {
	display: none;
	margin: 10px;
}

#members-message p {
	font-style: normal;
}

/* Find user autocomplete */

body.toplevel_page_buse_edit_groups .ui-autocomplete,
body.section-groups_page_buse_new_group .ui-autocomplete {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-color: #bbb;
}

body.toplevel_page_buse_edit_groups .ui-autocomplete li,
body.section-groups_page_buse_new_group .ui-autocomplete li {
	margin-bottom: 0;
	white-space: nowrap;
	text-align: left;
}

body.toplevel_page_buse_edit_groups .ui-autocomplete li a,
body.section-groups_page_buse_new_group .ui-autocomplete li a {
	display: block;
	height: 100%;
	padding: 4px 10px;
	color: #333;
}

body.toplevel_page_buse_edit_groups .ui-autocomplete li a.ui-state-hover,
body.section-groups_page_buse_new_group .ui-autocomplete li a.ui-state-hover {
	cursor: pointer;
	background-color: #ddd;
}

#section-group-editor input[type="text"].ui-autocomplete-loading {
	background: transparent url('../images/loading.gif') no-repeat right center;
	visibility: visible;
}

#section-group-editor .ui-autocomplete-input.open {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

/* IE7 friendly clearing */

#section-group-editor .clearfix {
	_height:1%;
	overflow:auto;
}

/* Con javascript */

body.js input[type="checkbox"] {
	display: none;
}

body.no-js .nav-tab-wrapper {

}

body.no-js #add-group-members {
	display:none;
}

body.no-js .remove_member {
	display:none;
}