/* Manage groups page */
#buse-group-table {
	width: 50%;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 25px 0;
	border: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#buse-group-table thead {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

#buse-group-table tbody {

}

#buse-group-table th {
	margin: 0;
	padding: 3px 10px;;
	text-align: left;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}

#buse-group-table tr {
	margin: 0;
}

#buse-group-table td {
	margin: 0;
	border-top: 1px solid #eee;
	padding: 5px 10px;
}

#buse-group-table tr:first-child td {
	border-top: none;
}

#buse-group-table .submitdelete img {
	vertical-align: bottom;
}

/* Group editor containers */
#section-group-editor {
	position:relative;
}

#section-group-editor h3.nav-tab-wrapper {
	margin-bottom: 0;
}

#stats-container {
	position: relative;
	width: 350px;
	padding-top: 2em;
	padding-left: 25px;
	float: right;
	clear: right;
	z-index: 20;
}

#panel-container {
	width: 100%;
	height: auto;
	float: left;
	clear: left;
	margin-right: -375px;
	position: relative;
}

.edit-group-panel {
	min-height: 400px;
	padding-top: 2em;
	margin-right: 375px;
}

/* Panel containers */

#section-group-editor {
}

#section-group-members {
}

#section-group-permissions {
}

/* Name panel */


/* Members panel */
#group-member-list {

}

#add-group-members-header {
	background-image: url('../images/user_add.png');
	background-repeat: no-repeat;
	background-position: 0;
	padding-left: 25px;
}

#edit-group-members-header {
	background-image: url('../images/group_members.png');
	background-repeat: no-repeat;
	background-position: 0;
	padding-left: 25px;
}

#group-member-list li {
	background-color: #fff;
	padding: 10px;
	border-top:1px solid #eee;
}

#group-member-list li:first-child {
	border-top: none;
}

#group-member-list label {
	display:inline;    
}

#group-member-list li a {
	float:right;    
}

#inactive-members {
	display: none;
}

/* Permissions Panel / jsTree */

#group-permission-editor {
	width: 100%;
}

#perm-tab-container {
	margin-bottom: 0;
}

#perm-tab-container .nav-tab {
	color: #21759B;
	text-shadow: none;
	padding: 4px 10px;
	margin-right: 3px;
	border: none;
	margin-left:1px;
	color: 
}

#perm-tab-container .nav-tab.inline {
	float: left;
}

#perm-tab-container .nav-tab-active {
	font-weight: bold;
	margin-bottom:-2px;
	border: 1px solid #D3D3D3;
	border-bottom: none;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #ECECEC;
}

#perm-tab-container .nav-tab-active {
		color: #464646;
}

#perm-panel-container {
	border: 1px solid #D3D3D3;
	background-color: white;
	margin: 0 5px 5px 1px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	clear: both;
}

.perm-toolbar {
	min-height: 20px;
	padding: 17px 15px 14px 15px;
	background-color: #ECECEC;
	background-image: -ms-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -moz-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -o-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ECECEC),to(#DFDFDF));
	background-image: -webkit-linear-gradient(top,#ECECEC,#DFDFDF);
	background-image: linear-gradient(top,#ECECEC,#ECECEC);
}

.perm-toolbar.top {
	border-bottom: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.perm-toolbar.bottom {
	border-top: 1px solid #D3D3D3;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.perm-toolbar input[type="text"] {
	border-color: #999999;
}

.perm-toolbar p {
	font-style: normal;
}


#perm-panel-container .perm-scroll-area {
	overflow-x: auto;
}

.perm-editor.hierarchical {
	margin: 15px;
}

.perm-editor.jstree-default.jstree-focused {
	background: none;
}

.perm-editor.jstree li {
}

.perm-editor.jstree a > ins {
	height: 18px;
	width: 20px;
}

.perm-editor.jstree-classic a.jstree-clicked {
	background-color: #555;
	border-color: #555;
}

/* Override default throbber while loading descendents */

.perm-editor li[rel="denied-desc-unknown"] a.jstree-loading .jstree-icon {
	background: url('../images/group_perm_denied_desc_unknown.png');
}

.perm-editor li[rel="allowed-desc-unknown"] a.jstree-loading .jstree-icon {
	background: url('../images/group_perm_allowed_desc_unknown.png');
}

/* Flat Permissions */

.perm-editor.flat {

}

.perm-editor.flat a {
	color: inherit;
	text-decoration: none;
}

.perm-editor.flat ul {

}

.perm-editor.flat li[rel="allowed"] .flat-perm-icon {
	background: url('../images/group_perm_allowed.png');
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-right: 10px;
	width: 15px;
	height: 15px;
}

.perm-editor.flat li[rel="denied"] .flat-perm-icon {
	background: url('../images/group_perm_denied.png');
	background-repeat: no-repeat;
	display: block;
	float: left;
	padding-right: 10px;
	width: 15px;
	height: 15px;
}

.perm-list {
	padding: 0;
	margin: 0;
}

.perm-list.flat li {
	padding: 10px 15px;
	margin: 0;
	position: relative;
	border-top: 1px solid #dfdfdf;
}

.perm-list.flat li:first-child {
	border-top: none;
}

.perm-list.flat li.odd {
	background-color: #f9f9f9;
}

#perm-panel-container .perm-list input[type="checkbox"] {
	margin-right: 10px;
}

/* Overlay */

.buse-overlay:before {
	position: absolute;
	left: -10px;
	top: 50%;
	margin-top: -6px;
	content: url('../images/left-arrow.png');
	width: 10px;	
}

.buse-overlay {
	background-color: #FFFFFF;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #CCCCCC;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
	margin-left: 20px;
	margin-top: -20px;
	padding: 10px;
	position: absolute;
	display: inline-block;
	text-align: center;
	z-index: 10;
}

.buse-overlay .buse-icon {
	display: block;
	float: left;
	text-decoration: none;
}

.buse-overlay.allowed .buse-icon {
	background: url('../images/group_perm_denied.png');
	width: 15px;
}

.buse-overlay.denied .buse-icon {
	background: url('../images/group_perm_allowed.png');
	width: 15px;
}

.buse-overlay.inactive {
	display: none;
}

.buse-action {
	display: block;
	float: left;
	color: white;
	background-color: #4790b4;
	background-image: -webkit-linear-gradient(top,#6699CC,#1C729E);
	background-image: linear-gradient(top,#6699CC,#1C729E);
	padding: 10px 8px;
	border-radius: 3px;
	text-decoration: none;
	width: 105px;
}

.buse-action:hover {
	color: white;
}

/* Stats widget */

#group-stats-widget .buse-widget-body {
	padding: 0;
}

#group-stats-widget ul {
	margin: 0;
}

#group-stats-widget li {
	padding: 7px 10px;
	border-top: 1px solid #D3D3D3;
}

#group-stats-widget li:first-child {
	border-top:none;
}

#group-stats-widget span.title {
	font-weight: bold;
}

#group-stats-widget span[id*="count"],
#group-stats-widget span[class*="count"] {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: bold;
	font-size: 18px;
}

#group-stats-widget .actions {
	background-color: #ebf2fb;
	padding: 10px;
}

#group-stats-widget #delete-action {
	float: left;
}

#group-stats-widget #update-action {
	float: right;
}

#group-stats-widget a.submitdelete {
	cursor: pointer;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin: 6px 0 0 4px;
	padding: 1px 2px;
	text-decoration: none;
	color: #F00;
}

#group-stats-widget a.submitdelete:hover {
	background-color: #F00;
	color: #FFF;
}

/*
#group-stats-permissions {
	display: block;
	margin-left: 1em;
}

#group-stats-permissions .perm-stats {
	display: block;
	margin-bottom: 5px;
}
*/

.perm-stats-diff.positive {
    color: #0CA02A;    
}

.perm-stats-diff.negative {
    color: #E24740;
}

/* Widgets */

.buse-widget {

}

.buse-widget-header {
	padding: 7px;
	border: 1px solid #D3D3D3;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -moz-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -o-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F9F9F9),to(#ECECEC));
	background-image: -webkit-linear-gradient(top,#F9F9F9,#ECECEC);
	background-image: linear-gradient(top,#F9F9F9,#ECECEC);
}

.buse-widget-header h4 {
	margin: 0;
	color: #464646;
	font-weight: bold;
}


.buse-widget-body{
	background-color: white;
	margin-bottom: 25px;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-top: none;
}

/* Member counts */

#member-list-count {
	float: right;
	font-weight: normal;
}

/* States */
.js .edit-group-panel { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.edit-group-panel.active { 
	position: static; 
}

.js .perm-panel { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.perm-panel.active { 
	position: relative; 
	top: auto;
	left: auto;
}

/* Form elements */

#section-group-editor .form-row {
	margin-bottom: 10px;
}

#section-group-editor label {
	margin-bottom: 0.5em;
}

#section-group-editor label.inline {
	display: inline;
}

#section-group-editor label.topaligned {
	display: block;    
}

#section-group-editor label.leftaligned {
	float: left;
	width: 100px;
	padding-right: 10px;
	text-align: left;
}

#section-group-editor input.with-button {
	width: 80%;
}

#members-message {
	display: none;
	margin: 10px;
}

#members-message p {
	font-style: normal;
}

/* Clearing */
#section-group-editor:after,
#section-group-editor .form-wrap:after,
#panel-container:after,
#group-stats-widget .actions:after,
#perm-tab-container:after,
.perm-toolbar:after {
	display: block;
	clear: both;
	content: " ";
	height: 0;
	overflow: hidden;
}

/* Con javascript */

body.js input[type="checkbox"] {
	display: none;
}

body.no-js .nav-tab-wrapper {

}

body.no-js #add-group-members {
	display:none;
}

body.no-js .remove_member {
	display:none;
}